- unless @match.games.blank?
  %table.fullscreen-games
    %thead
      %tr
        %th.text-right
        - @match.games.each do |game|
          %th.text-center
    %tbody  
      %tr
        %td
          = image_tag asset_path("#{@match.send("player_a").country}.png"), class: "fullscreen-game-score-flag"
        - @match.games.each do |game|
          %td
            .fullscreen-game-score
              = game.a_score
      %tr
        %td
          = image_tag asset_path("#{@match.send("player_b").country}.png"), class: "fullscreen-game-score-flag"
        - @match.games.each do |game|
          %td
            .fullscreen-game-score
              = game.b_score
- else
  %p
    No games completed.