= form_for @table do |f|
  - if @table.errors.any?
    #error_explanation
      %h2= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :reverse_ends
    = f.check_box :reverse_ends
  .field
    = f.label :banner_id, "Activate Banner"
    = f.collection_select :banner_id, Banner.all, :id, :name, include_blank: "<no banner>"
  .field
    = f.label :banner_message, "Banner Message (optional)"
    = f.text_field :banner_message
  %p
    .actions
      = f.submit 'Save'
