- player = @match.send("#{side}_player")
- country_name = ""
- @countries.each do |country|
  - if country[1] == @match.send("player_#{player}").country
    - country_name = country[0][3..20]

.rounded-box.player
  .row
    .col-lg-6
      .country-name
        = country_name.upcase
    .col-lg-6
      .flag
        = image_tag asset_path("#{@match.send("player_#{player}").country}.png")
  .row{style: "margin-top: 10px;"}
    .col-lg-10
      .player-name
        = truncate @match.send("player_#{player}").last_name.upcase + ' ' + @match.send("player_#{player}").first_name, length: 15, omission: ""
    .col-lg-2
      .ball.text-center
        - if (@match.send("#{side}_player") == @match.server) || (side == "left" && @match.server.blank?)
          = image_tag asset_path("ball.png")
  .row
    .col-lg-12
      .score.text-right
        = @match.send("#{player}_score") 
      .match-score-right
        = @match.send("#{player}_wins")
      .cards-right
        - if @match.send("#{player}_red_card")
          .red-card
            R
        - if @match.send("#{player}_yellow_card")
          .yellow-card
            Y
        - if @match.send("#{player}_timeout")
          .timeout
            T