.row
  .col-lg-6.col-md-6.col-sm-6
    = render partial: "tables/left_player", locals: {side: "left"} unless @table.reverse_ends?
    = render partial: "tables/left_player", locals: {side: "right"} if @table.reverse_ends?
  .col-lg-6.col-md-6.col-sm-6
    = render partial: "tables/right_player", locals: {side: "right"} unless @table.reverse_ends?
    = render partial: "tables/right_player", locals: {side: "left"} if @table.reverse_ends?

= render "tables/game_scores"