- unless @banner
  -#- if @table.matches.where(is_running: true).size > 0
  -#  - unless @table.matches.where(is_running: true).first.title.blank?
  -#    .match-title
  -#      = @table.matches.where(is_running: true).first.title.upcase

  - updated_at = "1981-08-17 00:00:00 UTC"
  - unless @match.blank?
    - updated_at = @match.updated_at.to_s

  - unless @table.matches.where(is_running: true).blank?
    #players{data: {updated_at: "#{updated_at}"}}
      = render "tables/running_match"

  - if @table.matches.where(is_running: true).blank?
    #players{data: {updated_at: "#{updated_at}"}}
    = render "tables/previous_match"

- else
  .banner
    = image_tag image_path @table.banner.banner.url
  - unless @table.banner_message.blank?
    .banner-message
      = truncate @table.banner_message, length: 35, omission: '.'
  #players{data: {updated_at: "#{updated_at}"}}
